[submodule "lib/hump"]
	path = lib/hump
	url = git://github.com/vrld/hump.git
[submodule "lib/HC"]
	path = lib/HC
	url = git://github.com/vrld/HC.git
[submodule "lib/jumper"]
	path = lib/jumper
	url = git://github.com/Yonaba/Jumper.git
